@media (max-width: 1090px){
.box1{width: 810px !important; border-radius: 0 0 18.75px 18.75px !important;}

.box2{width: 810px !important; height: 405px !important; border-radius: 18.75px !important;}
.slider{width: 4050px !important; height: 405px !important;}
.slide{width: 810px !important; height: 405px !important;}

.box3{margin-top: 16.8px;}

.box4{width: 810px !important;margin-top: 30px;height: 36px;}
.header1{font-size: 10.1px !important; width: 253px !important; height: 39px !important;}
.button{height: 36px !important; border: 0.75px solid rgba(51, 201, 254, 1) !important; padding: 12px 24px !important; border-radius: 18px !important; font-size: 12px !important;}

.box5, .box6{width: 810px !important; height: 262.5px !important; padding-top: 22.4px !important;}
.pcard{width: 190px !important; height: 245px !important; border-radius: 12px !important; padding: 9px 0px !important;}
.Pcard5, .Pcard10{display: none;}
.imgcontainer{width: 170.1px !important; height: 170.15px !important; border-radius: 12px !important;}
.pimg{width: 170.1px !important; height: 170.1px !important; border-radius: 12px !important;}
.details{width: 170.1px !important; height: 58.5px !important; font-size: 9.1px !important; line-height: 1.9 !important;}
.Category, .stext{font-size: 7px !important;}
.line{text-decoration: line-through; color: rgba(0, 0, 0, 0.5); font-weight: 700;}
}
